.custom-card {
    width: 300px;
    display: flex;
    margin: auto;
    padding: 1rem;
}

.custom-card-actions {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

.center {
    margin: auto;
}