/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.custom-card {
    width: 300px;
    display: flex;
    margin: auto;
    padding: 1rem;
}

.custom-card-actions {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

.center {
    margin: auto;
}